            .bg{
              background-color: #ffffe0;
            }

           .navbar{
              margin-bottom: 0;
              border-radius: 0;
            } 

            .jumbotron{
              margin-top: 10px;
              background-image: url('images/bokeh.jpg');
              background-size:cover;
              text-align: center;
              font-family: Impact, Charcoal, sans-serif;
              color: black;
            }    

            .container-fluid{
               font-family: "Trebuchet MS", Helvetica, sans-serif;
            }

            .row{
              font-family: "Trebuchet MS", Helvetica, sans-serif;
               
            }
            .thumbnail:hover{
              background-color: grey;

            }

            .thumbnail p{
              font-family:"Trebuchet MS", Helvetica, sans-serif; 
              color: black;
            }

            .footer p{
               font-family: "Trebuchet MS", Helvetica, sans-serif; 
              font-size: 20px;
            }
            .footer{
              background-color:#ffffe0 ;
              text-align: center;
              padding:0px;
              margin-top: 10px;
            }
             
             .facebook{
              padding: 0px;
              width: 40px;
              text-decoration: none;
             }

             .facebook:hover{
              opacity: 0.7;  
             }
             .facebook{
              color: white;
             }

             .insta{
              padding: opx;
              width: 40px;
              text-decoration: none;
             }
             .insta:hover{
              opacity: 0.7;
              color: white;
             }
